# Ignore whole work directory
work/*

# Except work/system.asn
!work/system.asn

# Except work linker_script
!work/linker_script

# Ignore qt creator cache directory
.qtc_clangd

# Ignore qt creator user files
*.pro.user*

# Ignore aadl files
*.aadl

# Ignore msc files
*.msc

# Except FUNCTION_1 source files
!work/function_1
work/function_1/*
!work/function_1/C
work/function_1/C/*
!work/function_1/C/src
work/function_1/C/src/*
!work/function_1/C/src/function_1.c

# Except FUNCTION_2 source files
!work/function_2
work/function_2/*
!work/function_2/C
work/function_2/C/*
!work/function_2/C/src
work/function_2/C/src/*
!work/function_2/C/src/function_2.c

# Except FUNCTION_3 source files
!work/function_3
work/function_3/*
!work/function_3/C
work/function_3/C/*
!work/function_3/C/src
work/function_3/C/src/*
!work/function_3/C/src/function_3.c
