# Ignore whole work directory
work/*

# Ignore qt creator cache directory
.qtc_clangd

# Ignore qt creator user files
*.pro.user*

# Ignore aadl files
*.aadl

# Except PONGER source files
!work/ponger
work/ponger/*
!work/ponger/Ada
work/ponger/Ada/*
!work/ponger/Ada/src
work/ponger/Ada/src/*
!work/ponger/Ada/src/ponger.adb

# Except PINGER source files
!work/pinger
work/pinger/*
!work/pinger/Ada
work/pinger/Ada/*
!work/pinger/Ada/src
work/pinger/Ada/src/*
!work/pinger/Ada/src/pinger.adb
